<ion-header>

</ion-header>

<ion-content color="primary">
  <div class="banner">

    <div>
      <h2>Scooby</h2>
      <ion-button color="primary" size="default">Assistir</ion-button>
    </div>
  </div>

  <ion-card color="primary">

    <ion-item color="primary">
      <div class="info ion-text-center">
        <span class="tipo">PG</span><span class="duracao">1h 34m</span>
        <p>Família, Animação, Comédia, Mistério, Aventura</p>
        <p>15/05/2020 (EUA)</p>
      </div>
    </ion-item>

    <ion-item color="medium" class="titulo">
      <div slot="start" class="c100 p80 small green">
        <span>80%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h2 class="ion-text-center">Pontuação</h2>
    </ion-item>



    <ion-item color="primary">
      <div>
        <h2>Sinopse:</h2>
        <p>SCOOBY! O Filme é uma história de origem dos famosos personagens da série animada da Hanna Barbera. Salsicha
          e Scooby tem uma conexão instantânea envolvendo comida em seu primeiro encontro, e logo se unem aos jovens
          detetives Fred, Velma e Daphne para formar a Mistério S/A. Só que, após resolver centenas de casos, eles
          encontram o desafio de impedir o "apocãolipse", que virá quando o fantasma do cão Cerberus for liberado no
          mundo.</p>
      </div>
    </ion-item>
  </ion-card>

  <div class="atores">
    <h2>Atores:</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/kphnirb7YggSVEhGI47kACxaIJQ.jpg" />
          <h4 class="ion-text-center">Will Forte</h4>
          <p class="ion-text-center">Shaggy Rogers (voz)</p>
        </ion-col>
        <ion-col size="6">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/b3gImArbw13mMKJIe9leFc9YYb7.jpg" />
          <h4 class="ion-text-center">Frank Welker</h4>
          <p class="ion-text-center">Scooby-Doo / Pterodáctilo (voz)</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>