<ion-header>

</ion-header>

<ion-content color="dark">
  <div class="banner">

    <div>
      <h2>Bloodshot</h2>
      <ion-button color="danger" size="default">Assistir</ion-button>
    </div>
  </div>

  <ion-card color="dark">

    <ion-item color="dark">
      <div class="info ion-text-center">
        <span class="tipo">PG-13</span><span class="duracao">1h 50m</span>
        <p>Ação, Ficção Científica</p>
        <p>13/03/2020 (EUA)</p>
      </div>
    </ion-item>

    <ion-item color="medium" class="titulo">
      <div slot="start" class="c100 p70 small green">
        <span>70%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h2 class="ion-text-center">Pontuação</h2>
    </ion-item>



    <ion-item color="dark">
      <div>
        <h2>Sinopse:</h2>
        <p>Bloodshot é um ex-soldado com poderes especiais: o de regeneração
          e a capacidade de se metamorfosear. Assassinado ao lado da esposa,
          ele é ressuscitado e aprimorado com nanotecnologia, desenvolvendo tais habilidades. Ao apagarem sua memória
          várias vezes, ele finalmente descobre quem realmente é e parte em um busca de vingança daqueles que mataram
          sua família.</p>
      </div>
    </ion-item>
  </ion-card>

  <div class="atores">
  <h2>Atores:</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/7rwSXluNWZAluYMOEWBxkPmckES.jpg"/>
        <h4 class="ion-text-center">Vin Diesel</h4>
        <p class="ion-text-center">Ray Garrison / Bloodshot</p>
      </ion-col>
      <ion-col size="6">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/2EpyDXqw1oyJnKayu2XshczjiBN.jpg"/>
        <h4 class="ion-text-center">Eiza González</h4>
        <p class="ion-text-center">KT</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>